#!/usr/bin/env bash

##
# NOTE: Shebang comment is only for editor. It is ignored by `direnv`.
##

##
# NOTE: `direnv` configuration file.
# - https://direnv.net/
##

##
# Logs and loads `.env` file if it exists.
#
# NOTE: `direnv` only exports ENV variables. This means `load_env` function is local.
# - https://github.com/direnv/direnv/issues/73
#
load_env() {
  local ENV_FILE_RELATIVE_PATH=$1

  ##
  # Replaces `$HOME` dir by `~`. For example:
  #
  #    /Users/user/Projects/demand/.env
  #    ~/Projects/demand/.env
  #
  # - https://unix.stackexchange.com/a/207237/394253
  #
  local PWD_WITH_TILDE="${PWD/#$HOME/'~'}"

  ##
  # Check whether file exists.
  #
  if [ -f "${ENV_FILE_RELATIVE_PATH}" ]; then
    echo "direnv: loading ${PWD_WITH_TILDE}/${ENV_FILE_RELATIVE_PATH}"

    ##
    # Actually loads `.env` file.
    # - https://direnv.net/man/direnv-stdlib.1.html#codedotenv-ltdotenvpathgtcode
    #
    dotenv "${ENV_FILE_RELATIVE_PATH}"
  fi
}

##
# --- Main ---
#
load_env ".env"
